<h2 id="title">Welcome to Ember.js</h2>
    <ul>
      <li>{{#link-to "posts.postOne"}}Post one {{/link-to}}</li>
      <li>{{#link-to "posts.postTwo"}}Post two {{/link-to}}</li>
    </ul>
{{outlet}}
